body {
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color:black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: darkblue;
}
.liste3 {
 list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  background-color:grey;
  font-family: "Copperplate", fantasy;
  font-size:25px;
  margin-left : auto;
  margin-left : 12px;
  margin-left : 35%;
}
.liste3 li {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
h2 {
    color:blue;
    font-family: "Copperplate", fantasy;
    font-size:50px;
    margin-left:460px;
    
}

