/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 5 janv. 2023, 23:01:45
    Author     : K4et
*/

 .dallas {
  width: 100%;
  height: 890px;
  background-image: url('../img/dallas.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.lal {
  width: 100%;
  height: 890px;
  background-image: url('../img/lal.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.denver {
  width: 100%;
  height: 890px;
  background-image: url('../img/denver.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.lac {
  width: 100%;
  height: 890px;
  background-image: url('../img/lac.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.houston {
  width: 100%;
  height: 890px;
  background-image: url('../img/houston.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.gs {
  width: 100%;
  height: 890px;
  background-image: url('../img/golden.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.memphis {
  width: 100%;
  height: 890px;
  background-image: url('../img/memphis.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.wolves {
  width: 100%;
  height: 890px;
  background-image: url('../img/minnesota.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.pelicans {
  width: 100%;
  height: 890px;
  background-image: url('../img/pelicans.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.okc {
  width: 100%;
  height: 890px;
  background-image: url('../img/okc.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.suns {
  width: 100%;
  height: 890px;
  background-image: url('../img/phoenix.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.trailblazers {
  width: 100%;
  height: 890px;
  background-image: url('../img/portland.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.kings {
  width: 100%;
  height: 890px;
  background-image: url('../img/sacramento.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.spurs {
  width: 100%;
  height: 890px;
  background-image: url('../img/Spurs.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.jazz {
  width: 100%;
  height: 890px;
  background-image: url('../img/jazz.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.hawks {
  width: 100%;
  height: 890px;
  background-image: url('../img/atlanta.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.boston {
  width: 100%;
  height: 890px;
  background-image: url('../img/boston.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.nets {
  width: 100%;
  height: 890px;
  background-image: url('../img/nets.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.hornets {
  width: 100%;
  height: 890px;
  background-image: url('../img/charlotte.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.bulls {
  width: 100%;
  height: 890px;
  background-image: url('../img/chicago.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.cavs {
  width: 100%;
  height: 890px;
  background-image: url('../img/Cavs.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.pistons {
  width: 100%;
  height: 890px;
  background-image: url('../img/detroit.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.pacers {
  width: 100%;
  height: 890px;
  background-image: url('../img/indiana.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.heat {
  width: 100%;
  height: 890px;
  background-image: url('../img/miami.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.bucks {
  width: 100%;
  height: 1000px;
  background-image: url('../img/bucks.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.knicks {
  width: 100%;
  height: 890px;
  background-image: url('../img/knicks.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.magic {
  width: 100%;
  height: 890px;
  background-image: url('../img/orlando.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.sixers {
  width: 100%;
  height: 890px;
  background-image: url('../img/phila.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.raptors {
  width: 100%;
  height: 890px;
  background-image: url('../img/toronto.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.wizards {
  width: 100%;
  height: 890px;
  background-image: url('../img/washinton.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}


